:root {
    --white: #f1f1f1
}
.clock {
    height: 12vh;
    color: #fff;
    font-size: 5vh;
    font-family: sans-serif;
    line-height: 18vh;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .clock::before, .clock::after {
    content: '';
    width: 3ch;
    height: 10vh;
    background: linear-gradient(to top, transparent, rgb(0, 0, 0));
    position: absolute;
    z-index: 1;
  }
  
  .clock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
  }
  
  .clock > div {
    display: flex;
  }
  
  .tick {
    line-height: 17vh;
  }

  .tick-hidden {
    opacity: 0;
  }
  
  .move {
    animation: move linear 1s infinite;
  }
  
  @keyframes move {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-20vh);
    }
  }
  
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.glow-on-sm {
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-sm:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-sm:active {
    color: #000
}

.glow-on-sm:active:after {
    background: transparent;
}

.glow-on-sm:before {
    opacity: 1;
}

.glow-on-sm:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
body {
    margin: 0;
    font-family: Montserrat;
    color: var(--white);
    letter-spacing: 0.7em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div>span {
    opacity: 0.15;
}

#I {
    opacity: 1;
    animation: flickerI 2s linear reverse infinite;
}

#I::after {
    content: '';
    width: 150%;
    -webkit-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
    -moz-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
    box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}

#L,
#G {
    animation: flickerLG 2s linear reverse infinite;
    position: relative;
}

#L::after,
#L::before {
    content: ' ';
    width: 100px;
    height: 100px;
    background: var(--white);
    position: absolute;
    top: -50%;
    left: 100%;
    border-radius: 100%;
    opacity: 0.05;
    filter: blur(10px);
}

#L::after {
    width: 200px;
    height: 200px;
    top: -150%;
    left: -5%;
    opacity: 0.1;
    filter: blur(10px);
}

#H {
    animation: flickerH 2s linear reverse infinite
}

#T {
    animation: flickerH 2s linear reverse infinite
}

@keyframes flickerI {
    0% {
        opacity: 0.4;
    }

    5% {
        opacity: 0.5;
    }

    10% {
        opacity: 0.6;
    }

    15% {
        opacity: 0.85;
    }

    25% {
        opacity: 0.5;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.25;
    }

    45% {
        opacity: 0.5;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0.85;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flickerLG {
    0% {
        opacity: 0.19;
    }

    5% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.25;
    }

    15% {
        opacity: 0.35;
    }

    25% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.4;
    }

    35% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.25;
    }

    45% {
        opacity: 0.2;
    }

    60% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.35;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes flickerH {
    0% {
        opacity: 0.15;
    }

    5% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.12;
    }

    15% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.15;
    }

    30% {
        opacity: 0.4;
    }

    35% {
        opacity: 0.05;
    }

    40% {
        opacity: 0.12;
    }

    45% {
        opacity: 0.15;
    }

    60% {
        opacity: 0.3;
    }

    70% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.3;
    }

    90% {
        opacity: 0.18;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes flickerT {
    0% {
        opacity: 0.01;
    }

    5% {
        opacity: 0.05;
    }

    10% {
        opacity: 0.03;
    }

    15% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.07;
    }

    30% {
        opacity: 0.1;
    }

    35% {
        opacity: 0.05;
    }

    40% {
        opacity: 0.06;
    }

    45% {
        opacity: 0.1;
    }

    60% {
        opacity: 0.;
    }

    70% {
        opacity: 0.1;
    }

    80% {
        opacity: 0.;
    }

    90% {
        opacity: 0.0;
    }

    100% {
        opacity: 0.1;
    }
}

.card-item {
    position: relative;
    margin: 30px 20px 0;
    width: 500px;
    height: 250px;
    background-image:url('https://upload.wikimedia.org/wikipedia/vi/3/3b/Pokemon_Trading_Card_Game_cardback.jpg');
    background-position: center;
    background-size: cover;
    transition: transform 0.4s;
}
.card-item.flip {
    transform: rotateY(180deg);
  }
  .card-item.flipBack {
    transform: rotateY(0deg);
  }
.card-item:before,
.card-item:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #000000, #ffffff, #000000, #7c7b7b, #000000, #acacac,
            #000000, #888787, #554f4f, #303030);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}
.card-item.no-steam:before,
.card-item.no-steam:after {
  display: none;
}
@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.card-item:after {
    filter: blur(4px);
}
