<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client POKEMON</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body class="bg-black flex flex-col justify-center items-center m-auto h-[100vh]"  >
    <div class="mb-20 text-[40px]">
        <span id="L">P</span>
        <span id="I">O</span>
        <span id="G">K</span>
        <span id="H">E</span>
        <span id="T">M</span>
        <span id="T">O</span>
        <span id="G">N</span>
      </div>
    <div class="">
        <a href="/play?level=2">
            <button class="glow-on-hover" type="button">PLAY</button>
        </a>
    </div>
</body>
</html>