<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
  <link rel="stylesheet" href="/style/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

</head>

<body class=" bg-black">
  <div class="container">
    <div class="mt-20 text-[40px]">
      <span id="L">P</span>
      <span id="I">O</span>
      <span id="G">K</span>
      <span id="H">E</span>
      <span id="T">M</span>
      <span id="T">O</span>
      <span id="G">N</span>
    </div>
    <div class="grid grid-cols-6 gap-3 mt-20">
      <% for (const pokemon of shuffleList) { %>
        <div class="w-[150px] h-[200px] items-center flex justify-center rounded-xl card">
          <div class=" card-item overflow-hidden" onclick="choose(this)" data-id="<%= pokemon.id %>">
            <img class="card-poke object-contain w-[96px] h-[96px]" src="<%= pokemon.image %>"
              data-id="<%= pokemon.id %>" />
          </div>
        </div>
        <% } %>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../gamePlay/index.ts"></script>
  </body>
<script>
  
</script>
</html>